.checkAccount {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .score {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        // background-color: #FF6700;
        background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1613019846_95-p-oranzhevii-fon-s-babochkami-122.jpg");
        border-radius: 10px;
        box-shadow: 0px 0px 18px 6px rgba(232, 96, 7, 0.5);
        width: 50em;
        height: 80px;
        font-size: 20px;
    }

    .dogInfo{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .dogImg {
            margin-top: 30px;
        }
        .dogCoin {
            margin-top: 30px;
            font-size: 32px;
            font-weight: 700;
        }
    }
}