body {
    // background-image: url("../../img/backgr.png");
    background-repeat: no-repeat;

    background-size: 100% auto;
}

[nav-content]{
    display: none;

    &.active {
        display: block;
    }
}

.click-animation {
    position: absolute;
    color: #fff;
    font-size: 32px;
    animation: fade-out 1s forwards;
    pointer-events: none;
    transform: translate(-50%, -50%); /* Center the text */
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -150%); /* Move upwards */
    }
}

.checkAccount {
    touch-action: none;
    position: absolute;
    // transform: translate(-50%,0%);
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    .score {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        // background-color: #FF6700;
        margin-top: 50px;
        font-size: 16px;
    }

    .dogInfo{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .dogCoin {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            font-size: 32px;
            font-weight: 700;

            p {
                margin-top: 10px;
            }
        }

        .status {
            font-size: 16px;
            margin-top: 30px;
            display: flex;
            gap: 5px;
            
            justify-content: center;
        }
    }

    .coin {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 80px;
        width: 100%;

        img {
            box-shadow: 0px 0px 5px 5px rgba(244, 237, 30, 0.2);
            border-radius: 100%;
            transition: .1s;
        }
    }

}

.tap {
    touch-action: none;
    > img {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: -1;
    }

    .energyBar {
        
        display: flex;
        position: fixed;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        bottom: 14%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        .energyText {
            font-weight: 600;
            gap: 5px;
            display: grid;
            grid-auto-flow: column;
            align-items: center;

        }
        
        .backgroundBar {
            display: block;
            margin: auto;
            position: relative;
            background-color: inherit;
            height: 11px;
            border-radius: 10px;
            width: 90%;
            border: .5px solid rgba(255,255,255,.5);
            box-shadow: 2px 2px 6.8px #fff inset;
            // max-width: 100%;

            .bar {
                // display: block;
                // position: relative;
                // background: linear-gradient(270deg,#F7C243, #FD902B);
                // width: 300px;
                // height: 100%;
                // border-radius: 10px;
                // border: 2px solid;
                // border-color: #32363C;
                transition: .1s;
                height: 100%;
                background: linear-gradient(170deg,#f7c243 7.58%,#fd902b 69.55%),linear-gradient(95deg,#f9e160,#e5a322 76.82%),#32363c;
                border-radius: 10px;
            }
        }
    }
}

.fadeAnim {
    animation: fade 0.5s ease-out;
}

@media screen {
    @media (min-width: 670px) {
        .image {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.testEnvContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    .testEnvInfo {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        width: 90%;

        > p {
            font-size: 14px;
            color: rgb(155, 155, 155);
        }

        > span {
            font-size: 12px;
            color: gray;
        }
    }

    .adminEnv {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: 90%;

        > p {
            font-size: 15px;
            color: gray;
        }

        .formEnv {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            width: 100%;

            > form {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                gap: 5px;

                > input {
                    height: 40px;
                    outline: 0px solid transparent;
                }

                > button {
                    height: 40px;
                }

                > textarea {
                    height: 40px;
                    outline: 0px solid transparent;
                }
            }
        }
    }

    .userEnv {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: 90%;
    }
}

.notificationContainer {
    
    display: flex;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    position: fixed;
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    padding: 20px 20px 65px;

}

    .notificationBlank {
        max-height: 100vh;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 82%;
        padding: 17px 17px 28px;
        position: relative;
        margin-top: 70px;
        border: 1px solid rgb(77, 77, 77);
        border-radius: 15px;

        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(72,5,5,1) 100%);
    }
        .raffle {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        


            .image {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                width: 100%;
                // max-width: 282px;
                height: auto;
                // max-height: 207.885px;
                flex-shrink: 0;
                object-fit: cover;
                margin-bottom: 6px;
                > img {
                    width: 100%;
                    border-radius: 6px;
                    border: 1px solid rgb(77, 77, 77);
                }

                > p {
                    margin-top: 10px;
                    font-size: 20px;
                    
                }
            }

            .notificationText {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: #a0a0a0;
                gap: 25px;
                
                > p {
                    font-size: 16px;
                }
            }
        


            .btn {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
                background: linear-gradient(to bottom, rgba(255,0,6,0.42) 0%, rgba(0,0,0,0) 100%, transparent 100%);
                border: 1px solid #790b0a;
                border-radius: 7px;
                user-select: text;
                width: 100%;
                p {
                    font-weight: 500;
                    padding: 15px;
                }
            }
        

.homeAccount {
    touch-action: none;
    position: absolute;
    // transform: translate(-50%,0%);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .score {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .info {
            
            margin-top: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 100%;

            > img {
                border-radius: 50px;
                filter: drop-shadow(0 0 5px #e9c00a);
            }

            > p {
                font-size: 40px;
                font-weight: 600;
            }
        }
    }

    .account {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        width: 90%;

        .accountInfo {
            display: flex;
            align-items: center;
            gap: 10px;
            .accountInfoText {
                > p {
                    font-size: 14px;
                    font-weight: 500;
                }
                > span {
                    color: gray;
                    font-size: 13px;
                }
            }
        }

        .place {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            

            > p {
                color:#b51310cc;
                font-size: 12px;
            }
            > span {
                color:#B51310;
                font-size: 15px;
            }
        }
    }
}

.referal {
    touch-action: none;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;

    .referalText {
        font-size: 17px;
        font-weight: 400;
        color: rgb(172, 172, 172);
        line-height: 1.5;
    }

    .details {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
        width: 100%;

        .textField {
            display: flex;
            width: 100%;
            background-color: #1f1f1f;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            border: 1px solid #3a3a3a;

            .text {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                padding: 10px;

                p {
                    color: #c0c0c0;
                    font-size: 12px;
                }
            }
        }

        .btn {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            background: linear-gradient(to bottom, rgba(255,0,6,0.42) 0%, rgba(0,0,0,0) 100%, transparent 100%);
            border: 1px solid #790b0a;
            width: 100%;
            border-radius: 7px;
            user-select: text;

            p {
                font-weight: 500;
                padding: 15px;
            }
        }
    }
}

.tasksPanel {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: left;
    width: 90%;

    .tasksText {
        font-size: 15px;
        font-weight: 600;
        color: rgb(255, 255, 255);
        line-height: 1.5;
    }
}

.taskCards {
    display: flex;
    flex-direction: column;
    // align-items: center;
    width: 100%;
    touch-action: none;

    .taskCard {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 15px;
        margin-top: 20px;
        // padding: 10px;

        .cardLeft {
        display: flex;
        align-items: center;
        justify-content: left;
        width: 90%;
        gap: 15px;
        }

        .cardRight {
            display: flex;
            align-items: center;
        }

        .icon {
            display: flex;
            align-items: center;
            padding: 10px;
            background-color: #161616;
            border-radius: 10px;
            border: 1px solid #FF0000;
            box-shadow: 0px 9px 8px -3px rgba(255, 0, 0, 0.2);

        }

        .taskName{
            display: flex;
            flex-direction: column;

            p {
                font-size: 15px;
                font-weight: 400;
            }

            span {
                font-size: 13px;
                color: #a8a8a8;
            }
        }
    }
}

.slide {
    display: flex;
    margin-top: 30px;
    // align-items: center;
    width: 90%;
    gap: 20px;

    .card {
            display: flex;
            justify-content: center;
            width: 252px;
            height: 266px;
            border-radius: 25px;
            box-shadow: 0px -51px 22px -4px rgba(28, 28, 28, 0.9) inset;
        }
        .card .cardInfo {
            display: flex;
            flex-direction: column;
            align-items: self-start;
            justify-content: flex-end;
            margin-right: 120px;
            margin-bottom: 10px;
        }
        .card .cardInfo p {
            font-size: 16px;
            font-weight: 500;
        }
        .card .cardInfo span {
            font-size: 14px;
            font-weight: 300;
            color: #bdbdbd;
        }
        .card #background {
            display: block;
            position: absolute;
            border-radius: 25px;
            border: 1px solid #414141;
            z-index: -1;
        }
        .card #polemos {
            margin-top: 60px;
            display: block;
            position: absolute;
        }
}

.friendsAccount {
    touch-action: none;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .friendsInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        gap: 30px;

        .infoCard {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            > p {
                font-size: 17px;
                font-weight: 500;
            }

            .statistic {
                margin-top: 15px;
                display: flex;
                align-items: end;
                gap: 10px;

                > p {
                    font-size: 40px;
                    font-weight: 700;
                }
            }
        }
    }

    .referalInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        // text-align: center;
        justify-content: center;
        width: 90%;
        margin-top: 40px;

        .referalText {
            font-size: 17px;
            font-weight: 400;
            color: rgb(172, 172, 172);
            line-height: 1.5;
        }
    
        .details {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 20px;
            width: 100%;
    
            .textField {
                display: flex;
                width: 100%;
                background-color: #1f1f1f;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                border: 1px solid #3a3a3a;
    
                .text {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    padding: 10px;
    
                    p {
                        color: #c0c0c0;
                        font-size: 12px;
                    }
                }
            }
    
            .btn {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
                background: linear-gradient(to bottom, rgba(255,0,6,0.42) 0%, rgba(0,0,0,0) 100%, transparent 100%);
                border: 1px solid #790b0a;
                width: 100%;
                border-radius: 7px;
                
    
                p {
                    font-weight: 500;
                    padding: 15px;
                }
            }
        }
    }
}

.ratingAccount {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    touch-action: none;

    .account {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        width: 90%;

        .accountInfo {
            display: flex;
            align-items: center;
            gap: 10px;
            .accountInfoText {
                > p {
                    font-size: 14px;
                    font-weight: 400;
                }
                > span {
                    color: gray;
                    font-size: 13px;
                }
            }
        }
    }

    .ratingText {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-top: 30px;

        > p {
            color: rgb(153, 153, 153);
            font-weight: 400;
        }
    }

    .leaderBoard {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-top: 70px;

        .leaderBoardText {
            > p {
                font-size: 12px;
                color:#B51310;
                font-weight: 500;
                margin-bottom: 20px;
            }
            > span {
                display: flex;
                justify-content: center;
                font-size: 12px;
                color:#8d8d8d;
            }
        }

        .leaderBoardContainer {
            overflow: scroll;
            height: 40vh;

            
        }
    }

}

.taskContainer {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 50px;

    .taskTop {
        display: flex;
        align-items: center;
        width: 90%;
        gap: 20px;

        > p {
            width: 260px;
            font-size: 20px;
            font-weight: 500;
        }
    }

    .taskSuperBottom {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        line-height: 1.5;

        > p {
            color: #acacac;
            font-weight: 600;
            font-size: 16px;
        }
        > span {
            color: gray;
        }
    }

    .taskBottom {
        display: flex;
        width: 90%;
        flex-direction: column;

        .taskInfo {
            display: flex;
            flex-direction: column;
            margin-top: 25px;

            > p {
                color: rgb(145, 145, 145);
                font-size: 17px;
                font-weight: 400;
                line-height: 1.5;
            }
        }

        .taskButtons {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 30px;

            .textFieldReact {
                display: flex;
                width: 100%;
                margin-top: 20px;
            }

            .textField {
                cursor: pointer;
                display: flex;
                width: 100%;
                background-color: #1f1f1f;
                align-items: center;
                justify-content: center;
                border-radius: 7px;
                border: 1px solid #3a3a3a;
    
                .text {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    padding: 15px;
    
                    [contenteditable]:focus {
                        outline: 0px solid transparent;
                    }

                    p {
                        color: #ffffff;
                        font-size: 16px;
                        font-weight: 500;
                        border: none;
                        padding: 4px;
                        cursor: text;
                    }
                }
            }
    
            .btn {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
                background: linear-gradient(to bottom, rgba(255,0,6,0.42) 0%, rgba(0,0,0,0) 100%, transparent 100%);
                border: 1px solid #790b0a;
                width: 100%;
                border-radius: 7px;
                
    
                p {
                    font-weight: 500;
                    padding: 15px;
                }
            }
        }
    }
}

.statusTaskContainer {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 50px;

    .taskTop {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 90%;

        .taskText {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 100%;

            > p {
                font-size: 40px;
                font-weight: 700;
            }

            > img {
                filter: drop-shadow(0 0 5px #e9c00a);
            }
        }

        > img {
            margin-top: 35px;
        }
    }

    .taskMiddle {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
        width: 90%;

        > p {
            font-weight: 300;
            font-size: 17px;
            color: rgb(184, 184, 184);
        }

        .taskButtons {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 30px;
            width: 100%;

            .textField {
                display: flex;
                width: 100%;
                background-color: #1f1f1f;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                border: 1px solid #3a3a3a;
    
                .text {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    padding: 10px;
    
                    p {
                        color: #c0c0c0;
                        font-size: 12px;
                    }
                }
            }
    
            .btn {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
                background: linear-gradient(to bottom, rgba(255,0,6,0.42) 0%, rgba(0,0,0,0) 100%, transparent 100%);
                border: 1px solid #790b0a;
                width: 100%;
                border-radius: 7px;
                
    
                p {
                    font-weight: 500;
                    padding: 15px;
                }
            }
        }
    }

    .taskBottom {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-top: 35px;

        .taskProgress {
            display: flex;
            flex-direction: column;
            > p {
                font-size: 16px;
                font-weight: 500;
            }
            .tasks {
                display: flex;
                flex-direction: column;
                width: 100%;
            }
        }

        .textField {
            margin-top: 30px;
            cursor: pointer;
            display: flex;
            width: 100%;
            background-color: #1f1f1f;
            align-items: center;
            justify-content: center;
            border-radius: 7px;
            border: 1px solid #3a3a3a;

            .text {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                padding: 10px;

                [contenteditable]:focus {
                    outline: 0px solid transparent;
                }

                p {
                    color: #ffffff;
                    font-size: 15px;
                    font-weight: 500;
                    border: none;
                    padding: 2px;
                    cursor: text;
                }
            }
        }

    }
}

.panel {
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-end; 
    // align-self: stretch;
    // position: absolute;
    // bottom: 0;
    // width: 100%;
    width: 100%;
    height: 86px;
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #161616;

    &.fill {
        > [nav-id]{
            flex-grow: 1;
            min-width: 25%;
        }
    }

    > [nav-id] {
        min-width: 70px;
        height: 100%;
        margin: 0;
        border-radius: 0;
        line-height: 25px;
        text-align: center;
        padding: 8px;
        background: transparent;
        border: none;
        color: #818181;
        cursor: pointer;

        * {
            display: block;
        }


        &.active {
            color: #B51310;
            accent-color: #B51310;

            > i {
                svg path{
                    fill: #B51310;
                }
            }

            > span.tapbtn {
                color: #E6A932;
            }
        }

        > i {
            font-size: 16px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 5px;
        }

        > i.shadow {
            > img {
                filter: drop-shadow(0 0 5px #e9c00a);
            }
        }

        > span {
            font-weight: 600;
        }

        // > span.tapbtn {
        //     color: #E6A932;
        // }
    }

    &.no-label{
        > button {
            min-width: 80px;
            > span{
                
                height: 0px;
                overflow: hidden;
                transition: height .2s;
            }
            &.active{
                > span{
                    height: 20px;
                }
            }
        }
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}