body {
  background-repeat: no-repeat;
  background-size: 100% auto;
}
[nav-content] {
  display: none;
}
[nav-content].active {
  display: block;
}
.click-animation {
  position: absolute;
  color: #fff;
  font-size: 32px;
  animation: fade-out 1s forwards;
  pointer-events: none;
  transform: translate(-50%, -50%);
  /* Center the text */
}
@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -150%);
    /* Move upwards */
  }
}
.checkAccount {
  touch-action: none;
  position: absolute;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.checkAccount .score {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  margin-top: 50px;
  font-size: 16px;
}
.checkAccount .dogInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.checkAccount .dogInfo .dogCoin {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 32px;
  font-weight: 700;
}
.checkAccount .dogInfo .dogCoin p {
  margin-top: 10px;
}
.checkAccount .dogInfo .status {
  font-size: 16px;
  margin-top: 30px;
  display: flex;
  gap: 5px;
  justify-content: center;
}
.checkAccount .coin {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  width: 100%;
}
.checkAccount .coin img {
  box-shadow: 0px 0px 5px 5px rgba(244, 237, 30, 0.2);
  border-radius: 100%;
  transition: 0.1s;
}
.tap {
  touch-action: none;
}
.tap > img {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.tap .energyBar {
  display: flex;
  position: fixed;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  bottom: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.tap .energyBar .energyText {
  font-weight: 600;
  gap: 5px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
.tap .energyBar .backgroundBar {
  display: block;
  margin: auto;
  position: relative;
  background-color: inherit;
  height: 11px;
  border-radius: 10px;
  width: 90%;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 6.8px #fff inset;
}
.tap .energyBar .backgroundBar .bar {
  transition: 0.1s;
  height: 100%;
  background: linear-gradient(170deg, #f7c243 7.58%, #fd902b 69.55%), linear-gradient(95deg, #f9e160, #e5a322 76.82%), #32363c;
  border-radius: 10px;
}
.fadeAnim {
  animation: fade 0.5s ease-out;
}
.notificationContainer {
  display: flex;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: fixed;
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
}
.notificationContainer .notificationBlank {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 60vh;
  overflow: hidden;
  border: 1px solid #4d4d4d;
  border-radius: 15px;
  background: linear-gradient(0deg, #000000 0%, #480505 100%);
}
.notificationContainer .notificationBlank .notificationTop {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 25px;
  flex-direction: column;
}
.notificationContainer .notificationBlank .notificationTop > img {
  border-radius: 6px;
  border: 1px solid #4d4d4d;
}
.notificationContainer .notificationBlank .notificationTop .notificationText {
  display: flex;
  align-items: center;
  width: 85%;
}
.notificationContainer .notificationBlank .notificationTop .notificationText > p {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
}
.notificationContainer .notificationBlank .notificationBottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.notificationContainer .notificationBlank .notificationBottom .notificationText {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 85%;
  gap: 20px;
  color: #a0a0a0;
}
.notificationContainer .notificationBlank .notificationBottom .btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background: linear-gradient(to bottom, rgba(255, 0, 6, 0.42) 0%, rgba(0, 0, 0, 0) 100%, transparent 100%);
  border: 1px solid #790b0a;
  width: 85%;
  border-radius: 7px;
  user-select: text;
}
.notificationContainer .notificationBlank .notificationBottom .btn p {
  font-weight: 500;
  padding: 15px;
}
.homeAccount {
  touch-action: none;
  position: absolute;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.homeAccount .score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.homeAccount .score .info {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.homeAccount .score .info > img {
  border-radius: 50px;
  filter: drop-shadow(0 0 5px #e9c00a);
}
.homeAccount .score .info > p {
  font-size: 40px;
  font-weight: 600;
}
.homeAccount .account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 90%;
}
.homeAccount .account .accountInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.homeAccount .account .accountInfo .accountInfoText > p {
  font-size: 14px;
  font-weight: 500;
}
.homeAccount .account .accountInfo .accountInfoText > span {
  color: gray;
  font-size: 13px;
}
.homeAccount .account .place {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.homeAccount .account .place > p {
  color: #b51310cc;
  font-size: 12px;
}
.homeAccount .account .place > span {
  color: #B51310;
  font-size: 15px;
}
.referal {
  touch-action: none;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.referal .referalText {
  font-size: 17px;
  font-weight: 400;
  color: #acacac;
  line-height: 1.5;
}
.referal .details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}
.referal .details .textField {
  display: flex;
  width: 100%;
  background-color: #1f1f1f;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #3a3a3a;
}
.referal .details .textField .text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
}
.referal .details .textField .text p {
  color: #c0c0c0;
  font-size: 12px;
}
.referal .details .btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background: linear-gradient(to bottom, rgba(255, 0, 6, 0.42) 0%, rgba(0, 0, 0, 0) 100%, transparent 100%);
  border: 1px solid #790b0a;
  width: 100%;
  border-radius: 7px;
  user-select: text;
}
.referal .details .btn p {
  font-weight: 500;
  padding: 15px;
}
.tasksPanel {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 90%;
}
.tasksPanel .tasksText {
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.5;
}
.taskCards {
  display: flex;
  flex-direction: column;
  width: 100%;
  touch-action: none;
}
.taskCards .taskCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
  margin-top: 20px;
}
.taskCards .taskCard .cardLeft {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 90%;
  gap: 15px;
}
.taskCards .taskCard .cardRight {
  display: flex;
  align-items: center;
}
.taskCards .taskCard .icon {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #161616;
  border-radius: 10px;
  border: 1px solid #FF0000;
  box-shadow: 0px 9px 8px -3px rgba(255, 0, 0, 0.2);
}
.taskCards .taskCard .taskName {
  display: flex;
  flex-direction: column;
}
.taskCards .taskCard .taskName p {
  font-size: 15px;
  font-weight: 400;
}
.taskCards .taskCard .taskName span {
  font-size: 13px;
  color: #a8a8a8;
}
.slide {
  display: flex;
  margin-top: 30px;
  width: 90%;
  gap: 20px;
}
.slide .card {
  display: flex;
  justify-content: center;
  width: 252px;
  height: 266px;
  border-radius: 25px;
  box-shadow: 0px -51px 22px -4px rgba(28, 28, 28, 0.9) inset;
}
.slide .card .cardInfo {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: flex-end;
  margin-right: 120px;
  margin-bottom: 10px;
}
.slide .card .cardInfo p {
  font-size: 16px;
  font-weight: 500;
}
.slide .card .cardInfo span {
  font-size: 14px;
  font-weight: 300;
  color: #bdbdbd;
}
.slide .card #background {
  display: block;
  position: absolute;
  border-radius: 25px;
  border: 1px solid #414141;
  z-index: -1;
}
.slide .card #polemos {
  margin-top: 60px;
  display: block;
  position: absolute;
}
.friendsAccount {
  touch-action: none;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.friendsAccount .friendsInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 30px;
}
.friendsAccount .friendsInfo .infoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.friendsAccount .friendsInfo .infoCard > p {
  font-size: 17px;
  font-weight: 500;
}
.friendsAccount .friendsInfo .infoCard .statistic {
  margin-top: 15px;
  display: flex;
  align-items: end;
  gap: 10px;
}
.friendsAccount .friendsInfo .infoCard .statistic > p {
  font-size: 40px;
  font-weight: 700;
}
.friendsAccount .referalInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 40px;
}
.friendsAccount .referalInfo .referalText {
  font-size: 17px;
  font-weight: 400;
  color: #acacac;
  line-height: 1.5;
}
.friendsAccount .referalInfo .details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}
.friendsAccount .referalInfo .details .textField {
  display: flex;
  width: 100%;
  background-color: #1f1f1f;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #3a3a3a;
}
.friendsAccount .referalInfo .details .textField .text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
}
.friendsAccount .referalInfo .details .textField .text p {
  color: #c0c0c0;
  font-size: 12px;
}
.friendsAccount .referalInfo .details .btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background: linear-gradient(to bottom, rgba(255, 0, 6, 0.42) 0%, rgba(0, 0, 0, 0) 100%, transparent 100%);
  border: 1px solid #790b0a;
  width: 100%;
  border-radius: 7px;
}
.friendsAccount .referalInfo .details .btn p {
  font-weight: 500;
  padding: 15px;
}
.ratingAccount {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  touch-action: none;
}
.ratingAccount .account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 90%;
}
.ratingAccount .account .accountInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ratingAccount .account .accountInfo .accountInfoText > p {
  font-size: 14px;
  font-weight: 400;
}
.ratingAccount .account .accountInfo .accountInfoText > span {
  color: gray;
  font-size: 13px;
}
.ratingAccount .ratingText {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 30px;
}
.ratingAccount .ratingText > p {
  color: #999999;
  font-weight: 400;
}
.ratingAccount .leaderBoard {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 70px;
}
.ratingAccount .leaderBoard .leaderBoardText > p {
  font-size: 12px;
  color: #B51310;
  font-weight: 500;
  margin-bottom: 20px;
}
.ratingAccount .leaderBoard .leaderBoardText > span {
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: #8d8d8d;
}
.ratingAccount .leaderBoard .leaderBoardContainer {
  overflow: scroll;
  height: 40vh;
}
.taskContainer {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-top: 50px;
}
.taskContainer .taskTop {
  display: flex;
  align-items: center;
  width: 90%;
  gap: 20px;
}
.taskContainer .taskTop > p {
  width: 260px;
  font-size: 20px;
  font-weight: 500;
}
.taskContainer .taskSuperBottom {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  line-height: 1.5;
}
.taskContainer .taskSuperBottom > p {
  color: #acacac;
  font-weight: 600;
  font-size: 16px;
}
.taskContainer .taskSuperBottom > span {
  color: gray;
}
.taskContainer .taskBottom {
  display: flex;
  width: 90%;
  flex-direction: column;
}
.taskContainer .taskBottom .taskInfo {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.taskContainer .taskBottom .taskInfo > p {
  color: #919191;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
}
.taskContainer .taskBottom .taskButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.taskContainer .taskBottom .taskButtons .textFieldReact {
  display: flex;
  width: 100%;
  margin-top: 20px;
}
.taskContainer .taskBottom .taskButtons .textField {
  cursor: pointer;
  display: flex;
  width: 100%;
  background-color: #1f1f1f;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  border: 1px solid #3a3a3a;
}
.taskContainer .taskBottom .taskButtons .textField .text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 15px;
}
.taskContainer .taskBottom .taskButtons .textField .text [contenteditable]:focus {
  outline: 0px solid transparent;
}
.taskContainer .taskBottom .taskButtons .textField .text p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding: 4px;
  cursor: text;
}
.taskContainer .taskBottom .taskButtons .btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background: linear-gradient(to bottom, rgba(255, 0, 6, 0.42) 0%, rgba(0, 0, 0, 0) 100%, transparent 100%);
  border: 1px solid #790b0a;
  width: 100%;
  border-radius: 7px;
}
.taskContainer .taskBottom .taskButtons .btn p {
  font-weight: 500;
  padding: 15px;
}
.statusTaskContainer {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-top: 50px;
}
.statusTaskContainer .taskTop {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
}
.statusTaskContainer .taskTop .taskText {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.statusTaskContainer .taskTop .taskText > p {
  font-size: 40px;
  font-weight: 700;
}
.statusTaskContainer .taskTop .taskText > img {
  filter: drop-shadow(0 0 5px #e9c00a);
}
.statusTaskContainer .taskTop > img {
  margin-top: 35px;
}
.statusTaskContainer .taskMiddle {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  width: 90%;
}
.statusTaskContainer .taskMiddle > p {
  font-weight: 300;
  font-size: 17px;
  color: #b8b8b8;
}
.statusTaskContainer .taskMiddle .taskButtons {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}
.statusTaskContainer .taskMiddle .taskButtons .textField {
  display: flex;
  width: 100%;
  background-color: #1f1f1f;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #3a3a3a;
}
.statusTaskContainer .taskMiddle .taskButtons .textField .text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
}
.statusTaskContainer .taskMiddle .taskButtons .textField .text p {
  color: #c0c0c0;
  font-size: 12px;
}
.statusTaskContainer .taskMiddle .taskButtons .btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background: linear-gradient(to bottom, rgba(255, 0, 6, 0.42) 0%, rgba(0, 0, 0, 0) 100%, transparent 100%);
  border: 1px solid #790b0a;
  width: 100%;
  border-radius: 7px;
}
.statusTaskContainer .taskMiddle .taskButtons .btn p {
  font-weight: 500;
  padding: 15px;
}
.statusTaskContainer .taskBottom {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 35px;
}
.statusTaskContainer .taskBottom .taskProgress {
  display: flex;
  flex-direction: column;
}
.statusTaskContainer .taskBottom .taskProgress > p {
  font-size: 16px;
  font-weight: 500;
}
.statusTaskContainer .taskBottom .taskProgress .tasks {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.statusTaskContainer .taskBottom .textField {
  margin-top: 30px;
  cursor: pointer;
  display: flex;
  width: 100%;
  background-color: #1f1f1f;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  border: 1px solid #3a3a3a;
}
.statusTaskContainer .taskBottom .textField .text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
}
.statusTaskContainer .taskBottom .textField .text [contenteditable]:focus {
  outline: 0px solid transparent;
}
.statusTaskContainer .taskBottom .textField .text p {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  border: none;
  padding: 2px;
  cursor: text;
}
.panel {
  width: 100%;
  height: 86px;
  position: fixed;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #161616;
}
.panel.fill > [nav-id] {
  flex-grow: 1;
  min-width: 25%;
}
.panel > [nav-id] {
  min-width: 70px;
  height: 100%;
  margin: 0;
  border-radius: 0;
  line-height: 25px;
  text-align: center;
  padding: 8px;
  background: transparent;
  border: none;
  color: #818181;
  cursor: pointer;
}
.panel > [nav-id] * {
  display: block;
}
.panel > [nav-id].active {
  color: #B51310;
  accent-color: #B51310;
}
.panel > [nav-id].active > i svg path {
  fill: #B51310;
}
.panel > [nav-id].active > span.tapbtn {
  color: #E6A932;
}
.panel > [nav-id] > i {
  font-size: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.panel > [nav-id] > i.shadow > img {
  filter: drop-shadow(0 0 5px #e9c00a);
}
.panel > [nav-id] > span {
  font-weight: 600;
}
.panel.no-label > button {
  min-width: 80px;
}
.panel.no-label > button > span {
  height: 0px;
  overflow: hidden;
  transition: height 0.2s;
}
.panel.no-label > button.active > span {
  height: 20px;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
