.loading {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  
    .text {
      font-size: 24px;
    }

    .loader{
      svg path,
      svg rect{
        fill: #FF0006;
      }
    }
  }