@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  overflow-x: hidden;
  user-select: none;
}

body {
  background: #000;
  color: #fff;
  min-height: 100vh;
}

.loading {
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .text {
    font-size: 24px;
  }
}

.loader{
  text-align: center;
}
